@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", serif;
  outline: none;
}

:root {
  --bg-color: #051d18;
  --text-color: #a1cca5;
}

body::selection,
.codePara::selection {
  background-color: var(--bg-color);
  color: var(--text-color);
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  text-align: center;
  padding: 40px;
  padding-bottom: 0;
}

.container {
  margin: auto;
}

h1 {
  font-size: 48px;
  background: var(--text-color);
  border-radius: 10px;
  padding: 10px 20px;
  display: inline-block;
  color: var(--bg-color);
}

.section {
  padding: 20px;
  margin: 20px 0;
  text-align: left;
}

pre {
  background: var(--text-color);
  border-radius: 10px;
  color: var(--bg-color);
  font-weight: 600;
  padding-right: 20px;
  text-align: left;
  overflow-x: auto;
  font-size: 18px;
}

pre::-webkit-scrollbar {
  display: none;
}

.output-box {
  padding: 15px;
  border-radius: 10px;
  border: 2px solid var(--text-color);
  box-shadow: 5px 5px 0px var(--text-color);
  margin-top: 25px;
  color: var(--text-color);
  font-weight: 500;
  font-size: 18px;
}

.output-box-btn {
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  border: 2px solid var(--text-color);
  box-shadow: 5px 5px 0px var(--text-color);
  margin-top: 25px;
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: all 0.5s;
}

.output-box-btn:hover {
  box-shadow: 0px 0px 0px var(--text-color);
}

.output-box-btn:focus-visible {
  outline: none;
}

ul {
  font-weight: 500;
  font-size: 18px;
  color: var(--text-color);
  margin-top: 20px;
  margin-left: 18px;
}

h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.codePara {
  background-color: var(--text-color);
  border-radius: 10px;
  color: var(--bg-color);
  padding: 26px 20px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
}

input,
textarea,
select {
  outline: none;
  background-color: var(--bg-color);
  color: var(--text-color);
}

input::placeholder,
textarea::placeholder {
  color: var(--text-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow:
    5px 5px 0px var(--text-color),
    0 0 0px 1000px var(--bg-color) inset !important;

  -webkit-box-shadow:
    5px 5px 0px var(--text-color),
    0 0 0px 1000px var(--bg-color) inset !important;

  background-color: var(--bg-color) !important;
  -webkit-text-fill-color: var(--text-color) !important;
  transition: background-color 5000s ease-in-out 0s;
  color: var(--text-color);
}

textarea {
  max-width: 100%;
}

#name,
#email,
#password,
#address {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 15px;
}

.name,
.email,
.password,
.address,
.sports,
.gender,
.country {
  margin-bottom: 35px;
}

.nameError,
.emailError,
.passwordError,
.addressError,
.sportsError,
.genderError,
.countryError {
  display: none;
  color: var(--text-color);
}

.sports p,
.gender p,
.country p {
  margin-bottom: 10px;
}

.sports input,
.gender input,
.country input {
  margin-bottom: 10px;
  margin-right: 10px;
}

#baseball,
#other,
select {
  margin-bottom: 15px;
}

#resetBtn,
#submitBtn {
  margin: 0;
  width: 150px;
}

select {
  width: 100%;
  background-color: var(--bg-color);
}

.btnDiv {
  display: flex;
  justify-content: space-between;
}

.label {
  cursor: pointer;
  margin-bottom: 10px;
  display: inline-block;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="checkbox"]+label::before,
input[type="radio"]+label::before {
  content: "";
  cursor: pointer;
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid var(--text-color);
  border-radius: 3px;
  margin-right: 10px;
  vertical-align: middle;
  background-color: transparent;
}

input[type="radio"]+label::before {
  border-radius: 10px;
}

input[type="checkbox"]:checked+label::before,
input[type="radio"]:checked+label::before {
  background-color: var(--text-color);
}

.allData {
  margin-top: 150px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 20px 10px;
  text-align: left;
  border-bottom: 2px solid var(--text-color);
  word-break: break-word;
  white-space: normal;
}

th {
  font-weight: 700;
  color: var(--text-color);
  white-space: nowrap;
}

p {
  color: var(--text-color);
  font-weight: 600;
}

label[for="name"],
label[for="email"],
label[for="password"],
label[for="address"] {
  font-weight: 600;
  color: var(--text-color);
}

span::selection,
th::selection,
td::selection,
p::selection,
input::selection,
label::selection,
ul::selection,
h2::selection,
.output-box::selection,
.output-box-btn::selection {
  background-color: var(--text-color);
  color: var(--bg-color);
}



/** =====  Start Media Queries Section  ===== **/

@media only screen and (max-width: 576px) {

  h1 {
    padding: 10px 10px;
  }

  ul,
  pre,
  .output-box,
  .output-box-btn {
    font-size: 16px;
  }

}

/** =====  End Media Queries Section  ===== **/

/* =====  Start Scrollbar Section  ===== */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 50px;
  height: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6f967a;
}

/* =====  End Scrollbar Section  ===== */