@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", serif;
}

body {
  background: #f2f2f2;
  color: #333;
  text-align: center;
  padding: 40px;
}

.container {
  /* max-width: 800px; */
  margin: auto;
}

h1 {
  font-size: 40px;
  background: #222;
  padding: 10px;
  display: inline-block;
  color: #32a6f4;
}

.section {
  padding: 20px;
  margin: 20px 0;
  text-align: left;
}

pre {
  background: #222;
  color: #32a6f4;
  padding: 15px;
  text-align: left;
  overflow-x: auto;
  font-size: 16px;
}

.codePara {
  background: #222;
  color: #32a6f4;
  padding: 15px;
}

.output-box {
  padding: 15px;
  border: 2px solid #333;
  box-shadow: 6px 6px 0px #333;
  margin-top: 10px;
  color: black;
  font-weight: 500;
}

.output-box-btn {
  padding: 10px;
  border: 2px solid #333;
  box-shadow: 6px 6px 0px #333;
  margin-top: 15px;
  color: black;
  transition: all 0.5s;
}

.output-box-btn:hover {
  box-shadow: 0px 0px 0px #333;
}

.output-box-btn:focus-visible {
  outline: none;
}

p {
  font-weight: 500;
  color: #40484e;
}

h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

input,
textarea,
select {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow:
    6px 6px 0px #333,
    0 0 0px 1000px white inset !important;

  -webkit-box-shadow:
    6px 6px 0px #333,
    0 0 0px 1000px white inset !important;

  background-color: #fff !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}

textarea {
  max-width: 100%;
}

#name,
#email,
#password,
#address {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 15px;
}

.name,
.email,
.password,
.address,
.sports,
.gender,
.country {
  margin-bottom: 35px;
}

.nameError,
.emailError,
.passwordError,
.addressError,
.sportsError,
.genderError,
.countryError {
  display: none;
  color: red;
}

.sports p,
.gender p,
.country p {
  margin-bottom: 10px;
}

.sports input,
.gender input,
.country input {
  margin-bottom: 10px;
  margin-right: 10px;
}

#baseball,
#other,
select {
  margin-bottom: 15px;
}

#resetBtn,
#submitBtn {
  margin: 0;
  width: 150px;
}

select {
  width: 100%;
}

.btnDiv {
  display: flex;
  justify-content: space-between;
}

input[type="checkbox"],
input[type="radio"] {
  accent-color: #333333;
}

.allData {
  margin-top: 150px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 20px 10px;
  text-align: left;
  border-bottom: 2px solid #757575;
  word-break: break-word;
  white-space: normal;
}

th {
  font-weight: 700;
  color: #000;
  white-space: nowrap;
}

label[for="name"],
label[for="email"],
label[for="password"],
label[for="address"] {
  font-weight: 500;
  color: #40484e;
}